body {
  background-image: url("../background3.jpg");
  background-repeat: repeat;
}

h1 {
  font-family: initial;
  text-align: center;
  font-size: 85px;
  margin-top: 10px;
  margin-bottom: 15px;
  font: bolder xx-large;
  color:midnightblue;
}
#designerLabel {
margin-left: 70px;

}

#designerButton {
  color:hotpink;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  text-shadow: 2px;
  font-weight: 250%;
  font: bold;
}

label {
  margin-left: 70px;
}
img {
  width: 200px;
  height: 200px;
}
.dBtn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: 10px;
  border-color: blue;
  margin-bottom: 10px;
}