/* #topics {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
}
.container {
  margin :30px
}
h1{
  align-content: center;
  margin-top: 30px;
/* 
}
#designerButton { 
  background-color: #4CAF50; /* Green */
  /* border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
} */

/* #designerSearch { 
   position: absoulte;
  
}*/


/* #designerLabel {

}
#addDesigner { */

